# Python-related ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Custom folders to ignore
condor/
c_logs/
database/
config/
experiments*/
models/soc_enmap copy.py
models/socm.py
models/hyperkon.py
visualizer copy.py
improved_visualizer.py
visualizer_integration.py
.gitignore
viz.py
visualizer.py
